body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 20px;
}

table {
    background-color: #fff;
}

.img-preview {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
